body{
	padding: 10px;
	background-color: #55D992;
}

.section-child{
	float: left;
	background-color:#81F9B8;
	width:50%;
	height:90%;
	overflow-x: auto;
}
.section-container{
	width: 100%;
	height: 90%;	
}

.filename-header{
	padding-left: 10px;
}

aside{
	float: left;
	background-color:#55D992;
	width:50%;
	height:90%;
}
aside textarea{
	margin: 10px;
	width: 94%;
	height: 80%;
}

aside input[type='submit']{
	float: right;
}

footer{
	float:left;
	width: 100%;
	height: 10%;
	margin-bottom:1px;
	background-color: #55D992;
}