html,body{
	height: 100%;
}

body{
	padding: 10px;
	background-color: #55D992;
}

.section-container{
	width: 100%;
	height: 90%;	
}

.section-child{
	float: left;
	background-color:#81F9B8;
	width:20%;
	height:100%;
	overflow-x: auto;
}

	.section-child > ol > li{
		text-decoration: underline;
	}

	.section-child > ol > li:hover{
		color: blue;
		cursor: pointer;
	}
h2{
	margin: 0px 0px 0px 10px;
}

aside{
	float: left;
	background-color:#55D992;
	width:50%;
	height:100%;
}

aside textarea{
	width: 94%;
	height: 85%;
}

textarea{
	margin: 10px;
}

.script-interface{
	color: yellow;
	background-color: black;
}


aside input[type='button']{
	float: right;
    margin-left: 5px;
}

footer {
	float:left;
	width: 100%;
	height: 10%;
	margin-bottom:1px;
	background-color: #55D992;
	padding-top: 9px;
}

.section-output{
	width: 100%;
	height: 100%;
}
	.section-output textarea{
		min-width: 27%;		
		height: 100%;
	}

#script-content {
    min-height: 345px;
}

#script-output {
    min-height: 345px;
    height: 85%;
}



#feedback {
    margin: 10px;
}

/* Feedback Messages */
.fail {
    color: #FF3300;
}

.success {
    color: #000000;
}